<!DOCTYPE html>
<html lang="es">
	<head>
		{% include 'frontend/_modulo_head.html' %}
	</head>
	<body>

		{% include 'frontend/_modulo_header_logo.html' %}

		<!-- CONTENIDO DE LA PÁGINA -->
		<div class="container">
		
		<h1>Crear producto en DB</h1>

		<div id="mensaje"></div>

		<main>

			<form id="form" class="mb-3" action="/cargar_producto_img" enctype=multipart/form-data method="POST" onsubmit="event.preventDefault(); validateForm()">
				<div class="form-group mb-3">
                    <label for="marca" class="form-label">Marca</label>
                    <input type="text" class="form-control" id="marca" name="marca">
				</div>

				<div class="form-group mb-3">
					<label for="name" class="form-label">Nombre</label>
					<input type="text" class="form-control" id="name" name="name">
				</div>

				<div class="form-group mb-3">
					<label for="precio" class="form-label">Precio</label>
					<input type="text" class="form-control" id="precio" name="precio">
				</div>

				<div class="form-group mb-3">
					<label for="file" class="form-label">URL imagen</label>
					<input type="file" class="form-control" id="file" name="file">
					<span class="small"><strong>únicamente se aceptan archivos con la extensión: 'png', 'jpg', 'jpeg', 'gif'</strong></span>
				</div>

				<button type="submit" class="btn btn-primary">Cargar producto</button>
				<!-- <span class="btn btn-primary" onclick="validateForm()">Cargar producto</span> -->
				<a href="/admin/"><button type="button" class="btn btn-secondary">Cancelar</button></a>
			</form>
		</main>
		<!-- FIN CONTENIDO DE LA PÁGINA -->
		</div>

		{% include 'backend/_modulo_js_back.html' %}

		{% include 'frontend/_modulo_whatsapp.html' %}

		{% include 'frontend/_modulo_footer.html' %}
	</body>
</html>