<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{title}}</title>

<!-- fuentes -->
<link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">

<!-- íconos -->
<!-- <script src="https://kit.fontawesome.com/7d4193cf05.js" crossorigin="anonymous"></script> -->
<script src="https://kit.fontawesome.com/d12560e2e6.js" crossorigin="anonymous"></script>

<!-- bootstrap -->
<link href="{{url_for('static',filename='/css/bootstrap.min.css')}}" rel="stylesheet">

<!-- css local -->
<link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">

<!-- favicon -->
<link rel="icon" type="image/x-icon" href="{{url_for('static',filename='img/logo-black.png')}}">