<!-- carousel títulos -->
<div class="carousel">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <h2 class="titulo">Envíos gratis desde de $20000</h2>
            </div>
            <div class="carousel-item">
                <h2 class="titulo">Comprá en 3 y 6 cuotas sin interes</h2>
            </div>
            <div class="carousel-item">
                <h2 class="titulo">Suscribite para ofertas ilimitadas</h2>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>