<!-- footer -->
<footer class="m-0 row p-3">
    <div class="p-3 col-12 col-sm-6 menu">
        <div class="redes justify-content-center">
            <p class="p-1 text-center">Redes oficiales</p>
        </div>
        <ul class="redes d-flex justify-content-center">
            <li>
                <a href="#" target="_blank">
                    <i class="fab fa-instagram m-1"></i>
                </a>
            </li>
            <li>
                <a href="#" target="_blank">
                    <i class="fab fa-facebook-square m-1"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="p-3 col-12 col-sm-6">
        <div class="ubicacion d-flex justify-content-center">
            <p class="p-1">Balcarce 477, Godoy Cruz, Mendoza</p>
            <i class="fas fa-map-marker-alt"></i>
        </div>
    </div>
    <p class="d-flex justify-content-center col-12 m-0 pt-3 pb-2 autor">
        &copy; Equipo 6 - CAC - 2024
    </p>
</footer>